<% provide(:title, "About") %>
<div class="center jumbotron">
	<h2>A few things about me...</h2>
	<%= image_tag("tech_eye.jpg", class: "img-responsive col-md-6", :alt => "eye") %>
	<div class="container">
		<p class="col-md-6">In February 2015 I quit my stable, rather perk-laden job of 10 years to pursue a career in something I'd never done before: computer programming. It was the furthest I had ever reached to catch a dream, and the most terrifying thing I'd ever done. I'm not kidding; I spent the night before I resigned lying on the floor breathing deeply and listening to Louis C.K.. I felt like I was about to jump out of an airplane.<br><br>
		I cashed in all of my savings and some of my 401K and enrolled in DevPoint Labs. They don't call it a 'bootcamp' for nothing. After drinking from a firehose </p>
		<p>for 11 weeks, 10-14 hours a day, I had scraped the tip of the programming iceburg just enough to land a job at MasteryConnect as a QA Engineer. I literally cried when I got the email: "The job is yours if you want it." Yes! Yes!</p>
		<p>Long before all of that happened I decided I wanted a college degree. I didn't know what I wanted to do with it, exactly; I just knew it was really important. I started taking classes in 1994, the summer after my youngest was born. I took classes whenever I could, usually one or two at a time, and graduated in May 2014. It took me 20 years and a lot of personal sacrifice on several levels, but I got that degree, and cum laude, no less.</p>
		<p>Normally I take a pretty zen attitude toward all the little things that make up a life. If you meet me in person, you'll probably find I'm confident but soft-spoken, reserved, maybe unflappable, and you would be correct, but underneath that I'm passionate and driven and absolutely committed to becoming better, stronger, smarter every day, and if I decide I want something, it will happen. Whatever it takes, I will make it happen.</p>
		<p>So that's my core. I can get a little intense sometimes, but I value rationality above all so I'm usually pretty easy-going as long as you're making some amount of sense. I have a weakness for craft cocktails and rude cartoons (i.e. Archer, Aqua Teen). Some of my geek obsessions include Douglas Adams, MST3K, and the Wheel of Time series. If any of that interests you, perhaps a casual chat is in order.</p>
		
		<h3>Please also visit me on <%= link_to 'Bitbucket', 'https://bitbucket.org/tafor42/', target: :_blank %> and <%= link_to 'LinkedIn', 'https://www.linkedin.com/' %></h3>
	</div>
</div>