<% provide(:title, "Contact") %>
<div class="center contact-background">
	<div class="center jumbotron contact-overlay">
		<h2>Let's talk!</h2>
		<h3>Please email, text, call, or otherwise message me at:</h3>
		<h4>tiffanyforsyth1@gmail.com</h4>
		<h4>385-315-3350</h4>
		<h4 class="font-onefive"><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tiffanyforsyth', target: :_blank %></h4>
	</div>
</div>
