<% provide(:title, "Education") %>
<div class="container listed-layout">
	<h1>Education</h1>
		<dt><%= link_to 'DevPoint Labs', 'http://www.devpointlabs.com/', target: :_blank %></dt>
			<dd>May - July 2015
			<dd>Full-stack Ruby on Rails programming bootcamp</dd>
		<dt><%= link_to 'University of Utah', 'http://www.utah.edu/', target: :_blank %></dt>
			<dd>May 2014</dd>
			<dd>English B.A., Cum Laude</dd>
</div>
