<% provide(:title, "Experience") %>
<div class="container listed-layout">
	<h1>Professional Experience</h1>
		<dt>QA Engineer, <%= link_to 'Simple Finance', 'https://gosimplefinance.com/', target: :_blank %></dt>
			<dd>March 2016 - present</dd>
			<dd class="bump-up black-font">Omega tester for an in-house application that is currently in development. While the app is under construction, my focus is on manual testing and writing test plans which will be used to structure automated test plans once the application is complete. We have no product manager so I also work closely with our team lead and UX developer to ensure the app will meet our users' needs.</dd>
		<dt>QA Engineer, <%= link_to 'MasteryConnect', 'https://www.masteryconnect.com/', target: :_blank %></dt>
			<dd>August 2015 - February 2016</dd>
			<dd class="bump-up black-font">Responsible for and very personally invested in full-site QA testing, both manual and automated, for the <%= link_to 'Socrative.com', 'http://socrative.com/', target: :_blank %> team. My test scripts were written on a Rails framework using Ruby, Rspec, and Selenium.</dd>
		<dt>Executive Assistant, <%= link_to 'American Research Bureau', 'http://www.arb.com/', target: :_blank %></dt> 
			<dd>February 2005 - March 2015</dd>
			<dd class="bump-up black-font">ARB is a forensic genealogical research company. At ARB, I coordinated documentary evidence and witnesses for trials and travel for witnesses, fielded client questions/concerns and maintained excellent client rapport for legal cases that usually spanned several years.</dd>
		<dt>Production Manager, <%= link_to 'Corem Rose', 'http://coremrose.com/', target: :_blank %></dt>
			<dd>November 2003 - February 2005</dd>
			<dd class="bump-up black-font">Managed, participated in, and trained new staff in the production of one-of-a-kind haute couture handbags and shawls.</dd>
		<dt>Scheduler, <%= link_to 'Global Medical Staffing', 'http://www.gmedical.com/', target: :_blank %></dt>
			<dd>November 1998 - November 2003</dd>
			<dd class="bump-up black-font">Responsible for all aspects of getting doctors (and often their families) from all over the world to <%= link_to 'locum tenens', 'http://www.merriam-webster.com/dictionary/locum%20tenens', target: :_blank %> jobs in New Zealand or Australia, including visas, medical registration, and travel.</dd>
</div>
