<div class="center jumbotron">
	<h1>Tiffany A. Forsyth</h1>
	<h2>QA Engineer</h2>
	<%= image_tag("eye.jpg", :alt => "eye", class: "img-responsive image") %>
	<h3 class="bump-up">Have Brain, Will Travel</h3>
	<%= link_to "See Code Samples", 'https://bitbucket.org/tafor42/', class: "btn btn-lg btn-primary", target: :_blank %>
	<%= link_to 'Download Resume', downloads_download_pdf_url, class: "btn btn-lg btn-primary", target: :_blank %>
</div>