<% provide(:title, "Skills") %>
<div class="listed-layout">
	<h1>Skills</h1> 
	<dt>Completed full-stack Ruby on Rails progamming bootcamp at <%= link_to 'DevPoint Labs', 'http://www.devpointlabs.com/', target: :_blank %><dt>
	<dt>Entry-level:</dt>
		<dd>Ruby</dd>
		<dd>Rails</dd>
		<dd>Automated testing with Selenium and Rspec</dd>
		<dd>Github/Bitbucket</dd>
		<dd>HTML</dd>
		<dd>CSS</dd>
		<dd>JIRA, Pivotal</dd>
	<dt>Other:</dt>
		<dd>Typing (about 80+ wpm)</dt>
		<dd>Solid writing and proofreading skills</dd>
		<dd>15 years experience in client relations</dd>
</div>