@import "bootstrap-sprockets";
@import "bootstrap";

/* colors */

$ink: #062F4F;
$slate: #2A3F4C;
$platinum: #E2E3E3;
$med-blue: #3D5877;
$powder-blue: #80b3FF;

/* universal */

body {
  padding-top: 60px;
	background-color: $med-blue;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	background-color: $platinum;
	border: 3px solid $ink;
	h1 {
	margin-bottom: 10px;
	}
}

.listed-layout {
	color: whitesmoke;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 3em;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3, h4 {
	padding-top: 30px;
}

p {
  font-size: 2em;
	color: black;
  text-align: left;
}

dt {
	text-align: center;
	font-size: 2em;
	padding-top: 20px;
}

dd {
	font-size: 1.5em;
	text-align: center;
}

.black-font {
  color: black;
}

.powder-blue {
  color: $powder-blue;
}

.font-onefive {
  font-size: 1.5em;
}


/* positions */

.box {
  width:100px;
  height:100px;
  border:1px solid grey;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;;
}

.bump-up {
  padding-bottom: 20px;
}

.contact-background {
  background-image: image-url('blue-gradient-background.jpg');
	position: center;
  margin-top: 30px;
	padding-top: 25px;
	padding-left: 30px;
	padding-right: 30px;
	border: 4px solid $ink;
}

.contact-overlay {
   position: relative;
   left: 0px;
   top: 0px;
   z-index: 1;
}

/* images */

.image {
  border: 3px solid $ink;
}
